<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="navbar"></section>
    <div class="navbar">
        <div class="imageLogo">
            <h2>Welcome {{user.username}}</h2> <br>
            {{!-- <li>{{user.username}}</li> --}}
        </div>
        <div>
            <form action="/post/addPost" method="POST">
            <input type="text" name="username" , placeholder="username" id="username">
            <input type="text" name="caption" , placeholder="caption" id="caption">
            <input type="text" name="imgURL" , placeholder="imgURL" id="imgURL">
                   <button type="submit"> Add Post</button>
            </form>
        </div>

        
    </div>
</body>
</html>